@{
    var homeUrl = Href("~/");
}

<section class="branding">
    <a href="@homeUrl" id="logo">
        @@carlwoodhouse
    </a>
    <span class="life">life,</span>
    <span class="tech">&nbsp;tech</span>
    <span class="everything">&nbsp;&amp; everything</span>
</section>
