@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : "";}).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/
    
    SetMeta("X-UA-Compatible", "IE=edge,chrome=1");
    //Style.Include("http://fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Include("styles.css");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones


    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

}

@*
@if (Model.Header != null) {
<header id="layout-header" class="group">
    <div id="header">
        @Zone(Model.Header)
    </div>
</header>
}*@


 
         @*   @if (Model.Messages != null) {
            <div id="messages">
                @Zone(Model.Messages)
            </div>
            }*@

           

<header>
    <section class="branding">
    <a href="/" id="logo">
        ThemeName
    </a>
    </section>
</header>
<section id="main">
        @if (Model.Content != null) 
        {
            @Zone(Model.Content)
        }
</section>
@if (Model.Footer != null) {
    <footer>
        <section>
            @Zone(Model.Footer)
        </section>
    </footer>
}