@using Orchard.ContentManagement

@if(Model.Items != null) {
    <div class="grid">
        @foreach (var post in Model.Items) {
            var imagePart = post.ContentItem.ImagePage;
            var img = imagePart.Image;
			<div class="item bike rollable">
				<img width="181" height="181" src="@Url.Content(img.Url)" alt="" title="" />
				 <div class="caption" style="display: none;">
                        <h3>@post.ContentItem.TitlePart.Title</h3>
                        <p></p>
                        <a class="button" href="@Url.ItemDisplayUrl((ContentItem)post.ContentItem)">View</a>
                    </div>
            </div>     			
        }
    </div>  
 <div class="clear"/>
}

