@{
    var feed = ((IEnumerable<dynamic>) Model.Feed.Elements("entry"));
}

<ul>
	<li class="github-activity-row-header ico-github"><h4>Github Activity</h4></li>
	@{
		var count = 1;
		foreach(var item in feed)
		{
            // have to do this to fix the relative links to avs
            var markup = item.Element("content").Value as string;
            if (!string.IsNullOrEmpty(markup))
            {
                markup = markup.Replace(@"href=""/", "https://www.github.com/");
            }
            
		   <li class="github-activity-row">@Html.Raw(markup)</li>

			if (count == (int)Model.ItemsToDisplay ) {
				break;
			}

			count++;
		}
	}
</ul>