@{
    var feed = ((IEnumerable<dynamic>) Model.Feed.Elements("entry"));
}

<ul>
	<li class="github-activity-row row-header"><h4>Github Activity<h4></li>
	@{
		var count = 1;
		foreach(var item in feed)
		{
		   <li class="github-activity-row">@Html.Raw(item.Element("content").Value)</li>

			if (count == (int)Model.ItemsToDisplay ) {
				break;
			}

			count++;
		}
	}
</ul>